* {
    margin: 0px;
    padding: 0px;
    font-family: Favoritfreshly,sans-serif;
}

.footer-store-img {
    width: 150px;
    margin-top: 18px;
}

.footer-img-social {
    width: 20px;
}

.footer-main-img {
    width: 120px;
}
