*{
    font-family: Favoritfreshly,sans-serif;
}

.top-three-width {
    width: 590px;
    margin: auto;
    color: #717171;
}

.top-three-width > div:hover {
    background-color: rgb(223, 221, 221);
    transition-duration: .3s;
}

.about-freshly {
    font-size: 60px;
}

.work-video-part {
    background-color: #fffdf7;
}

.work-video-div {
    width: fit-content;
}

.philosophy-main-block {
    width: 50%;
    margin: auto;
}

.philosophy-img {
    width: 180px;
    height: 200px;
}

.img-phi-cen {
    width: fit-content;
    margin: auto;
}

.clicked-img-div{
    width: 550px;
    height: 335px;
}

.line-height-div {
    margin-top: 100px;
}

.background-img-div {
    background-image: url("https://assets-global.website-files.com/5d03b4e130118314af624b20/5ec2ac1d2f98b30604f1f132_20-spring-1-group-test-qa-1455-72-dpi.jpg");
    
    height: 360px;
    width: 100%;
    text-align: center;
    line-height: 360px;
}

.background-img-div > button {
    height: 60px;
    width: 280px;
    font-size: 23px;
}