*{
    font-family: Favoritfreshly,sans-serif;
}

.top-three-width {
    width: 590px;
    margin: auto;
    color: #717171;
}

.top-three-width > div:hover {
    background-color: rgb(223, 221, 221);
    transition-duration: .3s;
}

.about-freshly {
    font-size: 60px;
}

.work-video-part {
    background-color: #fffdf7;
}

.work-video-div {
    width: fit-content;
}

.philosophy-main-block {
    width: 50%;
    margin: auto;
}

.philosophy-img {
    width: 180px;
    height: 200px;
}

.philosophy-main-block > h1,h2,p {
    text-align: center;
}
